# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build output
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# SPM
.build/
.swiftpm/xcode/

# Temp files
*.orig
